* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    overflow-y: hidden;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color:#000;
}

#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 3;
    img {
        height: 56px;
    }
    #nav-part2 {
        display: flex;
        gap: 55px;
        text-transform: uppercase;
        z-index: 4;
    }
    #nav-part3 {
        display: flex;
        align-items: center;
        gap: 20px;
        text-transform: uppercase;
        button {
            color: #222;
            padding: 15px 20px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 15px;
            border: none;
        }
    }
}

#main {
    h1 {
        position: relative;
        text-align: center;
        font-size: 90px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
    }
    h1:nth-child(2) {
        margin-top: 30px;
        z-index: 4;
    }
    h1 span {
        background-color: brown;
        font-size: 25px;
        padding: 20px 40px;
        border-radius: 30px;
        margin: 0 15px;
        z-index: 2;
    }
}

#main> #left-img {
    height: 200px;
    position: absolute;
    top: 25%;
    left: 8%;
    border-radius: 10%;
} 

#main> #right-img {
    height: 160px;
    position: absolute;
    bottom: 10%;
    right: 4%;
    border-radius: 10%;   
}

#main> #central {
    height: 140px;
    position: absolute;
    top: 18%;
    right: 22%;
    border-radius: 10%;  
    z-index: 1;
}

#main h5 {
    font-size: 25px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%,0);
}

@media screen and (max-width:550px) {
    #nav {
        img {
            height: 35px;
        }
        #nav-part2 {
            display: none;
        }
        #nav-part3 {
            gap: 15px;
            text-transform: uppercase;
            font-size: 10px;
            button {
                color: #222;
                padding: 10px 15px;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 10px;
                border: none;
            }
        }
    }
    #main {
        h1 {
            font-size: 15px;
        }
        h1:nth-child(2) {
            margin-top: 110px;
        }
        h1 span {
            background-color: brown;
            font-size: 7px;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 0 5px;
            z-index: 2;
        }
    }

    #main> #left-img {
        height: 140px;
        top: 18%;
        left: 5%;
    } 
    
    #main> #right-img {
        height: 120px;
        bottom: 25%;
        right: 8%;
    }
    
    #main> #central {
        height: 95px;
        position: absolute;
        top: 25%;
        right: 12%;
    }

    #main h5 {
        font-size: 20px;
        bottom: 8%;
        left: 50%;
    }
}

